html, {
  height: 100%
}

body {
  font-family: 'Lora';
  background: linear-gradient(rgba(21, 51, 77, 0.65), rgba(21, 51, 77, 0.65)), url("../img/salonDesk.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway';
}

p {
  line-height: 1.75;
}

.text-faded {
  color: rgba(255, 255, 255, 0.3);
}

.site-heading {
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Raleway';
}

.tagline-upper {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  font-family: 'Raleway';
}

.tagline-lower {
  font-size: 1.2rem;
  line-height: 1;
  font-family: 'Raleway';
}

.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}

.site-heading .site-heading-lower {
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

.page-section {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.section-heading {
  text-transform: uppercase;
}

.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
  margin-top: 10px;
}

.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 100;
}

@media (max-width: 992px) {
    .section-heading .section-heading-lower {
      display: block;
      font-size: 1.4rem;
      font-weight: 250;
  }
    .section-heading .section-heading-upper {
      display: block;
      font-size: .70rem;
      font-weight: 700;
      margin-bottom: 10px;
    }
}

.bg-faded {
  background-color: rgba(255, 255, 255, 0.85);
}



#mainNav {
  background-color: rgba(0, 128, 128, 0.9);
  font-family: 'Raleway';
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  border-top: 1px solid rgba(255,255,255, 0.9);
}

#mainNav .navbar-brand {
  color: rgba(255, 255, 255, 1);
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 800;
}

#mainNav .navbar-nav .nav-item.active .nav-link {
  color: rgba(255, 255, 255, 1);
}

#mainNav .button.navbar-toggler {
  color: rgba(255, 255, 255, 1);
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #e6a756;
  }
}

.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.intro {
  position: relative;
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 70vw;
    float: right;
  }
  .intro .intro-text {
    left: 0;
    width: 60%;
    margin-top: 3rem;
    position: absolute;
  }
  .product-item .product-item-description .intro-button {
    width: 100%;
    bottom: -2rem;
    text-align: center;
    margin-top: 25px;
  }
}

@media (max-width: 992px) {
  .intro .intro-img {
    max-width: 75vw;
    float: right;
  }
}

@media (min-width: 1200px) {
  .intro .intro-text {
    width: 45%;
  }
}

.cta {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(0, 128, 128, 0.9);
}

.cta .cta-inner {
  position: relative;
  padding: 1.5rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.85);
}

.cta .cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

@media (min-width: 992px) {
  .about-heading .about-heading-img {
    position: relative;
    z-index: 0;
  }
  .about-heading .about-heading-content {
    margin-top: -5rem;
    position: relative;
    z-index: 1;
  }
}

@media (min-width: 992px) {
  .product-item .product-item-title {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
    margin-right: -5vw;
  }
  .product-item .product-item-img {
    position: relative;
    z-index: 0;
    width: 65vw;
  }
  .product-item .product-item-description {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
    margin-left: -5vw;
  }
  .product-item .product-item-titleb {
    position: relative;
    z-index: 1;
    margin-bottom: -3rem;
    margin-left: -5vw;
  }
  .product-item .product-item-descriptionb {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    max-width: 50vw;
    margin-right: -5vw;
  }
}

@media (max-width: 992px) {
    .product-item .product-item-title {
      position: relative;
      margin-bottom: -.6rem;
      z-index: 1;
  }
    .product-item .product-item-img {
      position: relative;
      z-index: 0;
      max-width: 75vw;
  }
    .product-item .product-item-description {
      position: relative;
      margin-top: -1.5rem;
      z-index: 1;
    }
    .product-item .product-item-description .intro-button {
      width: 100%;
      bottom: -1rem;
      text-align: center;
      margin-top: 20px;
    }
    .product-item .product-item-descriptionb {
      position: relative;
      margin-top: -1.5rem;
      z-index: 1;
    }
    .product-item .product-item-titleb {
      position: relative;
      margin-bottom: -.6rem;
      z-index: 1;
  }
}



.team-member {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 992px) {
  .team-member {
    margin-top: 50px;
  }
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
  color: rgba(255, 255, 255, 1);
}

.team-member p {
  margin-top: 0;
}

.our-mission {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  padding-bottom: 3rem;
}

.list-hours {
  font-size: 0.9rem;
}

.list-hours .list-hours-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  padding-bottom: .25rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.list-hours .list-hours-item.today {
  font-weight: bold;
  color: #e6a756;
}

@media (min-width: 992px) {
  .list-hours {
    width: 50%;
    font-size: 1.1rem;
  }
}

.address strong {
  font-size: 1.2rem;
}

.footer {
  background-color: rgba(0, 128, 128, 0.9);
}

.footer .m-0 {
  color: rgba(255, 255, 255, 1);
  font-family: 'Raleway';
}

.text-primary {
  color: rgba(255, 255, 255, 1); !important;
}

.bg-primary {
  background-color: rgba(255, 255, 255, 1); !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(255, 255, 255, 1);;
}

.btn-primary {
  background-color: rgba(0, 128, 128, 1);
  border-color: rgba(0, 128, 128, 1);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
}

.font-weight-light {
  font-weight: 100 !important;
}
